body {
    background-image: url(../img/cat.jpg);
    background-size: cover;
    text-align: top center;
    line-height: 90px;
}

h1 {
    font-size: 68px;
    color: rgb(51, 36, 74);
}

p {
    font-style: italic;
    font-size: 64px;
    font-weight: bold;
    text-decoration: underline;
}

